body {
    margin: 0;
    font-family: sans-serif;
    background-color: #3979FA;
    display: grid;
    gap: 25px;
    grid-template-columns: 800px;
    padding: 25px;
    /* height: 90vh; */
    padding: 50px calc(50% - 420px);
}

.sidebar {
    background-color: #D6C43C;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    gap: 20px;
    justify-content: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #73ED4E;
    box-shadow: 0 0 5px 0 black;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.container {
    background-color: #D6C43C;    
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 70px auto;
    gap: 14px 20px;
    background-color: #73ED4E;
    position: relative;
}
.card>.pic {
    width: 70px;
    /* height: 70px; */
    background-color: #D6C43C;
    border-radius: 8px;
    grid-row-end: span 2;
    background-size: cover;
    background-position: center;
}
.card>.name {
    grid-column-end: span 2;
    font-size: 24px;
}
.card>.age {
    font-size: 2rem;
    justify-self: center;
}
.card>.rate {
    font-size: 15px;
    display: flex;
    justify-self: center;
}

.favourite {
    position: absolute;
    right: 0px;
    padding: 10px 15px;
    /* margin-top: -10px; */
}

.btn:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
}

.popup-wrapper {
    position: fixed;
    background-color: #2224;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    padding: 30px;
    background-color: #73ED4E;
    width: 500px;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    display: none;    
    box-shadow: 0 0 5px 0 black;
}
.popup>.close {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 black;
    background-color: #D6C43C;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    transform: rotate(45deg);
    top: -10px;
    right: -10px;
    cursor: pointer;
}
.popup>.delete {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 black;
    background-color: #D6C43C;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    top: -10px;
    left: -10px;
    cursor: pointer;
}
.popup>.edit {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 black;
    background-color: #D6C43C;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    top: -10px;
    left: 30px;
    cursor: pointer;
}
.popup.active {
    display: grid;
}
.popup-wrapper.active {
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.picPopup {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    grid-row-end: span 4;
    
}
.content {
    display: grid;
    grid-template-columns: 200px auto;
    position: relative;
    gap: 20px;
}
.namePopup {
    font-size: 26px;
}
.agePopup  {
    font-size: 20px;
}
.ratePopup {
    font-size: 20px;
}
.favouritePopup {
    font-size: 20px;
}
.descriptionPopup {
    grid-column-end: span 2;
    font-size: 20px;
}